body {
	background: #FAF0E6;
}

.pageFrame {
	background: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 60px;
	float: left;
	width: 90%;
}

.submissionTitleBox {
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 30px;
}

.submissionPageSplit {
	margin-left: 4%;
	margin-right: 4%;
}

.stepTitleBox {
	margin-left: 6%;
	clear: left;
	margin-top: 30px;
}

.typeSelectorHolder {
	width: 100%;
}

.typeBox {
	float: left;
	margin-left: 7%;
	margin-top: 1%;
}

#submissionChecks {
	margin-left: 53.5%;
}

.stepTwoTitleBox {
	margin-top: 10%;
	margin-left: 6%;
}

#submissionDecriptionEntry {

}

#submissionEntryBox {
	margin-top: 2%;
	margin-left: 1%;
	width: 65%;
}

.paymentRequestBox {
	margin-left: 1%;
	margin-top: 2%;
}

#paymentCheck {
	margin-left: 2%;
}

.priceVerification {
	margin-top: 5%;
}

#priceInputField {
	width: 13%;
}

.submissionPageButtonBox:active {
  background: #87CEEB;
  color: white;
}

.submissionPageButtonBox {
	float: left;
	margin-left: 5.5%;
	margin-bottom: 5%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	width: 25%;
	margin-top: 4%;
}

.submissionPageButtonText {
	text-align: center;
	padding-top: 3%

}