<div class="pageFrame">
		<div class="submissionTitleBox">
			<h3>Give Submission</h3>
		</div>
		<hr class="submissionPageSplit">
		<div>
			<div class="stepTitleBox">
				<h5>Step 1 STUFF TYPE</h5>
			</div>
			<div class="typeSelectorHolder">
				<div class="typeBox">
					<p>Beach/Pool Equipment</p>
					<div id="submissionChecks">
						<input type="checkbox" class="form-check-input">
					</div>
				</div>
				<div class="typeBox">
					<p>Hiking Equipment</p>
					<div id="submissionChecks">
						<input type="checkbox" class="form-check-input">
					</div>
				</div>
				<div class="typeBox">
					<p>Sports Equipment</p>
					<div id="submissionChecks">
						<input type="checkbox" class="form-check-input">
					</div>
				</div>
				<div class="typeBox">
					<p>Leisure Equipment</p>
					<div id="submissionChecks">
						<input type="checkbox" class="form-check-input">
					</div>
				</div>
				<div class="typeBox">
					<p>Hobby Equipment</p>
					<div id="submissionChecks">
						<input type="checkbox" class="form-check-input">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="stepTwoTitleBox">
				<h5>Step 2 DOCUMENT STUFF</h5>
				<div class="form-group" id="submissionEntryBox">
    				<label for="submissionDecriptionEntry">Example textarea</label>
    				<textarea class="form-control" id="submissionDecriptionEntry" rows="3"></textarea>
  				</div>
			</div>
		</div>
		<div>
			<div class="stepTitleBox">
				<h5>Step 3 ADDRESS OF STUFF</h5>
			</div>
		</div>
		<div>
			<div class="stepTitleBox">
				<h5>Step 4 PAYMENT INFO</h5>
				<div class="paymentRequestBox">
					<p>Would you like to request payment?</p>
					<div id="paymentCheck">
						<input type="checkbox" class="form-check-input">
					</div>
					<div class="priceVerification">
						<p>How much? (All prices in USD)</p>
						<div class="input-group mb-4 mr-sm-2" id="priceInputField">
							<div class="input-group-prepend">
								<div class="input-group-text">$</div>
							</div>
							<input type="text" class="form-control" placeholder="Price">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="submissionPageButtonBox">
			<h6 class="submissionPageButtonText">Submit</h6>
		</div>	
	</div>