.header {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 60px;
  background: #FFE4B5;
  z-index: 999;
}

.header .routesHolder:hover {
  background: #87CEEB;
  color: white;
}

.routesBox {
  float: right;
}

.routesHolder {
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 8px;
  color: black;
}

.titleBox {
  float: left;
  margin-left: 30px;
  margin-bottom: 60px;
  padding-top: 3px;
  color: black;
}

.titleText {
  margin-top: 2px;
}
